.contest__title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  padding: 99px 10px 59px 12px;
  margin: 0;
}

.contest {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  height: 240px;
  color: #283645;
  margin: 0;

  @media (min-resolution: @retina-dpi),
    (min-resolution: @retina-dppx) {
    background-image: url(../img/bg-back-mobile@2x.jpg);
    background-size: cover;
  }
}

@media (min-width: @tablet-width) {
  .contest {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-position: center;
    height: 438px;

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url(../img/bg-back-tablet@2x.jpg);
      background-size: cover;
    }
  }

  .contest__title {
    font-size: 50px;
    font-weight: 300;
    line-height: 62px;
    text-align: center;
    max-width: 498px;
    margin-left: 80px;
    padding-top: 176px;
  }
}

@media (min-width: @desktop-width) {
  .contest {
    background-color: #283645;
    height: 395px;
  }

  .contest__title {
    max-width: 781px;
    margin-left: 208px;
    padding-top: 172px;
  }
}
