.page-header {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.page-header__wrapper {
  display: flex;
  height: 69px;
  border-bottom: 1px solid #000000;
  background-color: rgba(0, 0, 0, 0.3);

  .menu-active & {
    background-color: #283645;
  }
}

.page-header__btn {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 21px;
  cursor: pointer;
}

.page-header__taggle-on {
  display: block;
  width: 50px;
  height: 24px;
  cursor: pointer;
  border: none;
  content: "";
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  cursor: pointer;

  &:hover {
    background-color: #d22856;
    box-shadow: 0 8px 0 0 #d22856, 0 16px 0 0 #d22856;
  }

  &:active {
    background-color: #451323;
    box-shadow: 0 8px 0 0 #451323, 0 16px 0 0 #451323;
  }
}

.page-header__taggle-on--hidden {
  display: none;
}

.page-header__taggle-off {
  display: none;
  width: 34px;
  height: 18px;
  fill: #ffffff;
  border: none;
  background-color: transparent;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #451323;
  }
}

.page-header__taggle-off--show {
  display: block;
}

.page-header__logo {
  margin-top: 23px;
  margin-left: 19px;
  fill: #ffffff;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #65707b;
  }
}

.page-header__logo-tablet,
.page-header__logo-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    height: 110px;
    max-width: 660px;
  }

  .page-header__btn {
    margin-top: 46px;
  }

  .page-header__logo-tablet {
    display: block;
    width: 147px;
    height: 40px;
    margin-top: 4px;
  }

  .page-header__logo-mobile,
  .page-header__logo-desktop {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header__btn {
    display: none;
  }

  .page-header__wrapper {
    border: none;
  }

  .page-header {
    flex-direction: row;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
  }

  .page-header__logo {
    padding-left: 110px;
    width: 280px;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }
}
