.reseach {
  display: none;
}


@media (min-width: @tablet-width) {
  .reseach {
    display: flex;
    padding-bottom: 132px;
    padding-top: 59px;
    padding-left: 21px;
  }

  .reseach__title {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    width: 170px;
    margin-bottom: 11px;
    margin-top: 38px;
    text-align: left;
  }

  .reseach__info {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-left: 70px;
    max-width: 414px;
  }

  .reseach__link {
    color: #d22856;
    text-decoration: underline;
  }

  .reseach__text {
    margin-top: 0px;
    margin-bottom: 11px;
    margin-right: 32px;
  }
}


@media (min-width: @desktop-width) {
  .reseach {
    background-color: #f2f2f2;
    padding-top: 25px;
    padding-bottom: 59px;
    margin-bottom: 126px;
   }

   .reseach__timer {
    padding-left: 107px;
   }



   .reseach__info {
    padding-top: 52px;
    margin-left: 69px;
  }

  .reseach__title {
    width: 400px;
    margin-bottom: 24px;
  }

  .reseach__text {
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-right: 0;
    margin-bottom: 29px;
    min-width: 501px;
  }

  .reseach__link {
    font-size: 18px;
    line-height: 30px;
  }

  .reseach__timer-img {
    height: 345px;
  }
}

