.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  line-height: 30px;
  background-color: #ffffff;
  position: relative;
  margin-top: -52px;
}

.reviews__2,
.reviews__3 {
  display: none;
}

.reviews__user-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 43px;
  margin-bottom: 0px;
  margin-left: 81px
}

.reviews__text {
  color: #283645;
  margin-top: 11px;
  margin-bottom: 34px;
  text-align: center;
  max-width: 279px;
  margin-left: 19px;
  letter-spacing: 0.3px;
}

.reviews__icon,
.reviews__user-data {
  display: none;
  color: #283645;
}

.reviews__input {
  display: none;
}

.reviews__slider-inactive {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 17px;
  opacity: 0.3;
  background-color: #283645;
  margin-top: 3px;

  &:hover {
    background-color: #7e868f;
  }

  &:active {
    background-color: #e9ebec;
  }
}

.reviews__slider-active {
  display: inline-block;
  vertical-align: top;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin-right: 12px;
  background: #ffffff;
  border: 2px solid #283645;

  &:hover {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 17px;
    opacity: 0.3;
    background-color: #7e868f;
    margin-top: 3px;
  }

  &:active {
    background-color: #e9ebec;
  }
}

.reviews__icon-svg {
  display: none;
}

.reviews__slider-wrapper {
  width: 320px;
  background: url(../img/bg-triangle-white.svg) no-repeat;
  background-size: 1029px 81px;
  padding-bottom: 78px;
  background-color: #f2f2f2;
  padding-left: 128px;
}

@media (min-width: @tablet-width) {
  .reviews {
    position: relative;
  }

  .reviews__user-data {
    display: block;
    order: 2;
    margin-top: 68px;
    margin-left: 244px;
    margin-bottom: 35px;
    letter-spacing: 0.2px;
  }

  .reviews__text {
    order: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    margin-bottom: 34px;
    min-width: 643px;
    letter-spacing: 0.4px;
    margin-left: 8px;
    margin-right: 0px;
  }

  .reviews__user-name {
    position: absolute;
    top: 136px;
    left: 243px;
    font-size: 18px;
    margin: 0;
    letter-spacing: 1.3px;
  }

  .reviews__slider {
    order: 3;
  }

  .reviews__slider-wrapper {
    width: 660px;
    padding-left: 300px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__icon {
    display: block;
    margin-left: 563px;
  }

  .reviews__icon-svg {
    display: block;
    padding-top: 21px;
  }

  .reviews__text {
    text-align: center;
    min-width: 902px;
    margin-top: 41px;
    margin-left: 0px;
    padding-left: 91px;
    padding-right: 91px;
  }

  .reviews__user-name {
    top: 240px;
    left: 495px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
  }

  .reviews__user-data {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 34px;
    margin-top: 33px;
    margin-left: 489px;
  }

  .reviews__slider {
    display: none;
  }

  .reviews__icon-right:hover,
  .reviews__icon-left:hover {
    fill: #7e868f;

    &:active {
      fill: #ffffff;
    }
  }

  .reviews__text-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 960px;
  }
}
