.advantage {
  color: #000000;
  background-color: #f2f2f2;
}

.advantage__slogan {
  margin: 0;
  background-color: #ffffff;
  color: #283645;
  font-size: 24px;
  padding-bottom: 119px;
}

.advantage__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 10px;
}



