.advantage {
  color: #000000;
}

.advantage__slogan {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 32px;
  margin-left: 56px;
  margin-right: 60px;
  margin-bottom: 0px;
  background-color: #ffffff;
  color: #283645;
  font-size: 24px;
  line-height: normal;
  text-align: center;
}

.advantage__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 10px;
  margin-bottom: 17px;
}


.advantage__text {
  margin-bottom: 28px;
}


.advantage__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  padding-top: 109px;
  margin: 0;
}


.advantage__image {
  margin-top: 12px;
  margin-left: 82px;
  margin-bottom: 0;
  padding: 0;
}

.advantage__item-image {
  background-color: #f2f2f2;
}


.advantage__iphone {
  display: none;
}


@media (min-width: @tablet-width) {
  .advantage_parts {
    display: flex;
    justify-content: center;
  }

  .advantage__item-image {
    order: 0;
  }

 .advantage__list {
    order: 1;
    width: 331px;
    padding: 0;
  }

  .advantage__image {
    width: 268px;
    height: 483px;
    margin-left: 20px;
    margin-right: 0;
  }

  .advantage__item-image {
    width: 329px;
  }

  .advantage__slogan {
    font-size: 40px;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    margin: 0px;
  }

  .advantage__slogan-item1 {
    margin: 0;
  }

  .advantage__slogan-item2 {
    margin-top: 2px;
    margin-left: 81px;
    margin-right: 77px;
  }

  .advantage__title {
    margin: 0;
  }

  .advantage__title {
    margin-bottom: 14px;
  }
    .advantage__text {
    margin-bottom: 22px;
    margin-top: 0;
  }
}


@media (min-width: @desktop-width) {
  .advantage__iphone {
    display: block;
    margin-right: 137px;
  }

  .advantage__list {
    flex-direction: row;
   }

   .advantage_parts {
    flex-wrap: wrap;
    background-color: #f2f2f2;
   }

   .advantage__list {
    padding-left: 0;
   }

   .advantage__slogan {
    font-size: 50px;
    font-weight: 300;
    margin-top: 78px;
    margin-bottom: 75px;
  }

  .advantage__image {
    width: 169px;
    height: 298px;
    margin: 0;
  }

  .advantage__item {
    margin-right: 137px;
  }
}
