.features {
  background-color: #f2f2f2;
}


.features__promo {
  font-size: 24px;
  line-height: 30px;
  background-color: #283645;
  color: #ffffff;
  text-transform: uppercase;

}


.features_list {
  background-color: #ffffff;
}


.features__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}


.features__price {
  margin: 0;
  padding-bottom: 21px;
}


.features_box {
  border-bottom: solid 2px #e5e5e5;
  height: 58px;
}


.features_box-headen {
  display: none;
  height: 58px;
}


.features_item {
  width: 152px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.features__table {
  width: 300%;
  margin-bottom: 43px;
}


.features__icon-yes {
  fill: #3dc644;
}


.features__icon-no {
  fill: #f25b26;
}


.features__slider {
  margin-left: 132px;
}


.features__input {
  display: none;
}


.features__slider-wrapper label {
    display: inline-block;
    vertical-align: top;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 20px;
    opacity: 0.3;
    background-color: #283645;
}


@media (min-width: @tablet-width) {
  .features__table {
  width: 620px;
  margin-left: 18px;
  margin-bottom: 70px;
  }

  .features__headen {
    background-color: #f2f2f2;
    border: none;
  }

  .features_box-headen {
    display: block;
  }

  .features__title {
    margin-top:0;
  }

  .features__price {
    padding-bottom: 16px;
  }

  .features__slider {
    display: none;
  }
}


@media (min-width: @desktop-width) {
  .features__table {
  width: 940px;
  margin-left: 130px;
  margin-bottom: 98px;
  }
}
