.features {
  background-color: #f2f2f2;
  padding-bottom: 290px;
  position: relative;
}


.features__promo {
  font-size: 24px;
  line-height: 30px;
  background-color: #283645;
  color: #ffffff;
  text-transform: uppercase;
}


.features__list {
  background-color: #ffffff;
}


.features__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}


.features__price {
  margin: 0;
  padding-bottom: 21px;
}


.features__box {
  height: 58px;
  width: 276px;
  text-align: center;
  position: relative;
}

.features__box-mobile {
  text-align: left;
}

.features__line {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 39px;
}


.features__item {
  width: 152px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.features__table {
  position: absolute;
  top: 0;
  left: -390px;
  right: 18px;
  width: 300%;
  margin-bottom: 43px;
  padding-top: 36px;
}


.features__icon-yes {
  fill: #3dc644;
}


.features__icon-no {
  fill: #f25b26;
}


.features__slider {
  margin-left: 132px;
  padding-top: 361px;
}


.features__input {
  display: none;
}


.features__slider-wrapper label {
    display: inline-block;
    vertical-align: top;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 20px;
    opacity: 0.3;
    background-color: #283645;
}

.features__hit {
  position: absolute;
  top: 0;
  left: 0;
}


@media (min-width: @tablet-width) {
  .features__table {
    position: relative;
    width: 620px;
    margin-left: 18px;
    padding-bottom: 0px;
    text-align: center;
  }

  .features__headen {
    background-color: #f2f2f2;
    border: none;
  }


  .features__box {
  height: 43px;
}

  .features__title {
    margin-top: 10px;
  }

  .features__price {
    padding-bottom: 6px;
  }

  .features__slider {
    display: none;
  }

  .features__item {
    font-size: 14px;
    line-height: 30px;
    padding: 0;
  }

  .features__icon-headen {
     margin-top: 9px;
  }

  .features__line {
    display: none;
  }
}


@media (min-width: @desktop-width) {
  .features__table {
  width: 940px;
  margin-left: 130px;
  padding-bottom: 15px;
  margin-bottom: 108px;
  }

  .features__promo {
    text-align: center;
        height: 98px;
  }

  .features__item {
    width: 232px;
    padding-right: 56px;
    font-size: 18px;
    line-height: 30px;
  }

  .features__icon-headen {
     margin-top: 18px;
  }
}
