.form__text-style {
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  margin-left: 30px;
}

.form__title {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  color: #d22856;
  text-transform: uppercase;
  max-width: 240px;
  border: none;
}

.form__achievement-item,
.form__user-app,
.form__user-comment,
.form__user-name,
.form__user-contact {
   font-size: 18px;
   font-weight: normal;
   line-height: 30px;
   text-align: left;
   color: #283645;
}

.form__user-name {
  width: 280px;
  border: solid 2px #e5e5e5;
  margin-bottom: 2px;
  margin-left: 20px;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
}


.form__contact {
  display: none;
}

.form__user-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;
}

.form__user-data-item {
  margin-left: 43px;
  margin-bottom: 5px;
}

.form__user-achievement {
  background-color: #f2f2f2;
  padding-top: 38px;
}

.form__achievement-item {
  display: flex;
  text-transform: none;
  margin-bottom: 50px;
}

.form__achievement-wrap {
  margin-top: 40px;
  margin-bottom: 5px;
}


.form__contact-info {
  margin-top: 28px;
}

.form__contact-table {
  border: none;
}

.form__user-contact {
    width: 280px;
    border: solid 2px #e5e5e5;
    margin-bottom: 16px;
    margin-left: 7px;
    margin-top: 5px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
}


.form__app {
  background-color: #f2f2f2;
  padding-top: 38px;
  padding-bottom: 14px;
  margin-top: 12px;
}

.form__app-item {
  text-transform: none;
  margin-top: 40px;
}

.form__comment {
  margin-top: 60px;
}

.form__comment-table {
  border: none;
}

.form__user-comment {
   width: 279px;
   border: solid 2px #e5e5e5;
   margin-top: 10px;
   padding-top: 14px;
   padding-bottom: 123px;
   padding-left: 18px;
}

.form__comment-style {
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  margin-left: 8px;
}

.form__checkbox-item {
  position: relative;
  padding: 3px 0 3px 43px;
}

.form__checkbox + span.form__checkbox-text::before {
  display: block;
  content: "";
  background: #ffffff;
  border: solid 2px #e5e5e5;
  width: 39px;
  height: 39px;
  position: absolute;
  left: 0;
  top: 0;;
}


.form__checkbox:checked + span.form__checkbox-text::before {
  display: block;
  content: "";
  background: #ffffff url(../img/icon-checkbox-yes.svg) 50% 50% no-repeat;
  border: solid 2px #e5e5e5;
  width: 39px;
  height: 39px;
  position: absolute;
  left: 0;
  top: 0;;
}


.form__user-app {
  position: relative;
  padding: 3px 0 3px 43px;
}


.form__radio + span.form__radio-text::before {
  display: block;
  content: "";
  background: #ffffff;
  border: solid 2px #e5e5e5;
  border-radius: 50%;
  width: 37px;
  height: 36px;
  position: absolute;
  left: 0;
  top: 0;;
}

.form__radio:checked + span.form__radio-text::before {
  display: block;
  content: "";
  background: #ffffff url(../img/icon-map-marker.svg) 50% 50% no-repeat;
  border: solid 2px #e5e5e5;
  border-radius: 50%;
  width: 37px;
  height: 36px;
  position: absolute;
  left: 0;
  top: 0;;
}


