.info {
  color: #283645;
  font-size: 24px;
  font-weight: 400;
}


.info__title{
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-top: 78px;
  margin-left: 47px;
  margin-right: 47px;
  margin-bottom: 21px;
}


.info__item-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}


.info__item-contact {
  color: #d22856;
    margin-top: 6px;
    margin-bottom: 24px;
}


.info__item-contact:hover {
  color: #283645;
}


.info__item-contact:active {
  color: #bec2c7;
}


.info__list {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}


.info-map {
  background-image: url(../img/bg-map-mobile@1x.png);
  background-color: #ffffff;
}


@media (min-width: @tablet-width) {
  .info__list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }

 .info-map {
  background-image: url(../img/bg-map-tablet@1x.jpg);
  height: 848px;
 }

 .info__title {
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 57px;
 }


}


@media (min-width: @desktop-width) {
  .info-map {
  background-image: url(../img/bg-map-desktop@1x.jpg);
  height: 976px;
 }
}
