.main-navigation {
  margin: 0 auto;
  min-height: 252px;
  width: 100%;
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-top: 0;
  padding: 0;
}


.main-navigation__item,
.main-navigation__item-active {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 41px;
}


.main-navigation__item:hover {
   color: #d22856;
}


.main-navigation__item:active {
   color: #5c324a;
}


.main-navigation__list li {
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #000000;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}


@media (min-width: @tablet-width) {
   .main-navigation__list {
    margin: 0;
    width: 660px;
  }
}


@media (min-width: @desktop-width) {
   .main-navigation__list {
    flex-direction: row;
    justify-content: space-between;
    width: 945px;
  }

  .main-navigation {
    min-height: 110px;
  }

  .main-navigation__list li {
    border: none;
    padding-top: 47px;
  }

  .main-navigation__item:hover {
   color: #d22856;
  }

  .main-navigation__item:active {
    color: #ffffff;
   border-bottom: 2px solid #ffffff;
  }
}

