.page-header {
  display: flex;
  background-color: #283645;
  flex-direction: column;
  height: 66px;
}


.page-header__btn {
  margin-left: auto;
}



@media (min-width: @desktop-width) {
  .page-header {
    flex-direction: row;
    align-items: center;
    height:110px;

  }

  .page-header__btn {
    display: none;
  }
}




