.page-header {
  display: flex;
  background-color: #283645;
  flex-direction: column;
}


.page-header__wrapper {
  display: flex;
  height: 69px;
  border-bottom: 1px solid #000000;
}


.page-header__btn {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 21px;
  cursor: pointer;
}


.page-header__taggle-on {
  display: none;
  width: 50px;
  height: 24px;
  cursor: pointer;
  border: none;
  content: "";
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  cursor: pointer;
}

.page-header__taggle-on--show {
  display: block;
}

.page-header__taggle-off {
  display: block;
  width: 24px;
  height: 24px;
  background:  url(../img/icon-no-white.svg) 50% 50% no-repeat;
  border: none;
}

.page-header__taggle-off--hidden {
  display: none;
}

.page-header__logo {
    margin-top: 23px;
    margin-left: 19px;
}



@media (min-width: @tablet-width) {
  .page-header__wrapper {
    height: 110px;
  }

  .page-header__btn {
  margin-top: 46px;

  }
}



@media (min-width: @desktop-width) {
  .page-header {
    flex-direction: row;
    align-items: center;
    height:110px;

  }

  .page-header__btn {
    display: none;
  }

  .page-header__wrapper {
    border: none;
    width: 380px;
  }
}




