.post {
  background-color: #f2f2f2;
  color: #283645;
  line-height: 30px;
}


.post__slogan {
  background-color: #ffffff;
  padding-bottom: 49px;
  padding-left: 32px;
  padding-right: 35px;
  padding-bottom: 29px;
}


.post__btn-on {
  color: #d22856;
  font-size: 18px;
  line-height: 18px;
  border: solid 3px #d22856;
  border-radius: 27px;
  width: 280px;
  height: 55px;
  margin-left: 18px;
  margin-right: 20px;
  margin-bottom: 12px;
}


.post__btn-off {
  color: rgba(40, 54, 69, 0.1);
  font-size: 18px;
  line-height: 18px;
  border: solid 3px rgba(40, 54, 69, 0.1);
  border-radius: 27px;
  width: 280px;
  height: 55px;
  margin-left: 18px;
  margin-right: 20px;
}


.post__image {
  padding-top: 20px;
  padding-left: 18px;
  padding-right: 20px;
  margin-bottom: 27px;
}


.post__filters {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-left: 10px;
}


.post__btn {
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  padding-bottom: 41px;
}

.post__text1 {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

.post__text2 {
  text-align: center;
  margin-top: 0;
}

.post__filters-btn {
  border: none;
  background-color: #f2f2f2;
}

.post__filters-icon {
  margin-right: 23px;
}

.post__icon-3 {
  margin-top: 8px;
}

.post__range-controls {
    position: relative;
    padding-top: 16px;
    margin-bottom: 33px;
    margin-left: 38px;
}

.post__scale {
    width: 240px;
    height: 2px;
    background: #000;

}

.post__toggle {
    position: absolute;
    top: 8px;
    left: 192px;
    width: 14px;
    height: 15px;
    cursor: pointer;
    background: #ffffff;
    border: 2px solid #d22856;
    border-radius: 50%;
}


@media (min-width: @tablet-width) {
  .post__display {
    display: flex;
  }

  .post__filters {
    flex-direction: column;
    order: 1;
  }

  .post__btn {
    order: 2;
  }

  .post__filters-items {
    display: flex;
    flex-direction: column;
  }
}
