.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  line-height: 30px;
}


.reviews__user-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 0px;
}

.reviews__text {
  color: #283645;
  margin-top: 11px;
  margin-bottom: 34px;
  text-align: center;
  max-width: 271px;
}


.reviews__icon,
.reviews__user-data {
  display: none;
}


.reviews__input {
  display: none;
}


.reviews__slider-inactive {
    display: inline-block;
    vertical-align: top;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 17px;
    opacity: 0.3;
    background-color: #283645;
    margin-top: 3px;
}

.reviews__slider-active {
    display: inline-block;
    vertical-align: top;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-right: 12px;
    background: #ffffff;
    border: 2px solid #283645;
}

.reviews__icon-svg {
  display: none;
}

.reviews__slider-wrapper {
  width: 320px;
  background: url(../img/bg-triangle-white.svg) no-repeat;
  background-size: 1029px 81px;
  padding-bottom: 78px;
  background-color: #f2f2f2;
  padding-left: 128px;
}




@media (min-width: @tablet-width) {
  .reviews__user-data {
    display: block;
    order: 2;
    margin-top: 0;
    margin-bottom: 41px;
  }

  .reviews__text {
    order: 0;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    margin-bottom: 34px;
  }

  .reviews__user-name {
    order: 1;
    margin-top: 0;
    margin-bottom: 0;
  }

  .reviews__slider {
    order: 3;
    margin-bottom: 84px;
  }
}


@media (min-width: @desktop-width) {
  .reviews__icon {
  display: block;
 }

 .reviews__icon-svg {
  display: block;
}

  .reviews__text {
    margin-top: 41px;
    text-align: center;
    width: 736px;
  }

  .reviews__user-name {
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__user-data {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 185px;
    margin-top: 4px;
  }

  .reviews__slider {
    display: none;
  }

  .reviews__icon-right:hover,
  .reviews__icon-left:hover {
    fill: #7e868f;

    &:active {
      fill: #ffffff;
    }
  }

    .reviews__text-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

