.site-list__index {
  margin-left: 120px;
}


.site-list__photos {
  margin-left: 110px;
}


.site-list__form {
  margin-left: 120px;
}


.site-list__academy {
  margin-left: 100px;
}


.site-list__index,
.site-list__photos,
.site-list__form,
.site-list__academy {
  cursor: pointer;
}


@media (min-width: @tablet-width) {
  .site-list__index {
  margin-left: 250px;
  }

.site-list__photos {
  margin-left: 240px;
  }


.site-list__form {
  margin-left: 250px;
  }


.site-list__academy {
  margin-left: 235px;
  }
}


@media (min-width: @desktop-width) {
  .site-list {
    margin: 0;
  }

  .site-list__index {
  margin-left: 173px;
  }

  .site-list__photos {
  margin-left: 82px;
  }


.site-list__form {
  margin-left: 83px;
  }

  .site-list__academy {
  margin-left: 81px;
  width: 130px;
  }
}
